body {
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Bitstream Charter";
    background-color: #0b322b;
    background-image:radial-gradient(circle,#156c7d,#0a2f3b);
}

body h1 {
    color: #b68e15;
}

body h2 {
    color: #b68e15;
}

body h3 {
    color: #be6d54;
}

h3 {
  position: absolute;
  top: 25px;
  z-index: 1;
}

body p {
    font-size: 17px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

body a {
    font-size: 17px;
    color: white;
    text-decoration: underline;
}

body a:hover {
    color: #e6e6fa;
    text-decoration: underline;
}

.blurb UL {
    color: white;
}

.blurb li {
    color: white;
}

.blurb a {
    color: white;
    text-decoration: underline;
}

.blurb a:hover {
    color: #e6e6fa;
    text-decoration: underline;
}

img.wrap {
    float: right;
    margin-left: 30px;
    margin-right: 30px;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: white;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 235px;
    color: white;
}

.blurb p {
    color: white;
}

.dot1 {
  height: 25%;
  width: 25%;
  background-color: #edc141;
  border-radius: 50%;
  display: inline-block;
}

.topnav {
    position: absolute;
    padding: 30px 30px;
    background-color: #e9e6df;
    overflow: hidden;
    list-style:none;
    top: 0;
    left: 0;
    right: 0;
    text-align:right;
}

.topnav li {
    display:inline;
}

.topnav a {
  display:inline-block;
  padding: 13px;
  font-size: 18px;
  color: #0a2f3b;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
  color: #274f49;
}

.demobox {
  background-color: #6aac90;
  width: 100%;
  top: 70%;
  height: 200px;
  padding: 10px ;
  position: absolute;
} 

.box{
	width:100px;
	height:100px;
}

