body {
    margin: 60px auto;
    margin-left: 250px;
    width: 70%;
    font-family: "Lato", sans-serif;
}


body p {
    font-size: 20px;
    color: #202020;
}

body a {
    font-size: 20px;
    color: #268BD2;
}

body a:hover {
    color: #268BD2;
    text-decoration: underline;
}

#top, #bottom, #left, #right {
	background: #D22222;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
/* 		border-radius: 55px; */
		}
		#left { left: 0; }
		#right { right: 0; }
		
	 #bottom {
		left: 0; right: 0;
		height: 15px;
/* 		border-radius: 55px; */
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#top2, #bottom2, #left2, #right2 {
	background: #191970;
	position: fixed;
	}
	#left2, #right2 {
		top: 0; bottom: 0;
		width: 15px;
/* 		border-radius: 55px; */
		}
		#left2 { left: 0; }
		#right2 { right: 0; }
		
	 #bottom2 {
		left: 0; right: 0;
		height: 15px;
/* 		border-radius: 55px; */
		}
		#top2 { top: 0; }
		#bottom2 { bottom: 0; }

.sidenav a:hover {
    color: #f1f1f1;
}
img.wrap {
    float: left;
    margin-right: 20px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202020;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav p {
    padding: 6px 8px 6px 32px;
    text-decoration: none;
    font-size: 33px;
    color: #f1f1f1;
    display: block;
}

.sidenav a {
    padding: 6px 8px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
    
a {
    text-decoration: none;
    color: #999;
}
a:hover {
