

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><font size="5"><a href="/">Home</a></font></li>
				<li><font size="8"><a href="/research">Research</a></font></li>
	        		<li><a href="/papers">Papers</a></li>
	        		<li><a href="/code">Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:brettmckim@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mckimb">github.com/mckimb</a></li>
				</ul>
			</footer>
		</body>
	</html>
