

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="vl1"></div>
			<div class="vl2"></div>
			<div class="topnav">
				<a href="/">Home</a>
  				<a href="/research">Research</a>
  				<a href="/papers">Publications</a>
  				<a href="/code">Code</a>
			</div> 

			<div class="container">
		
			{{ content }}
		
			</div><!-- /.container -->
			<!--<footer>
	    		<ul>
	        		<li><font size="5"><a href="mailto:brettmckim@gmail.com">email</a></font></li>
				<li><font size="5"><a href="https://github.com/mckimb">github.com/mckimb</a></font></li>
				</ul>
			</footer>-->
			<!--
			<div id="left"></div>
			<div id="right"></div>
			<div id="top"></div>
			<div id="bottom"></div>
			<div id="left2"></div>
			<div id="right2"></div>
			<div id="top2"></div>
			<div id="bottom2"></div>
			-->
		</body>
	</html>
