

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="page-wrap">
			<style>
				div.sidenav
				a:hover {background-color: #B22222;}
			</style>
			<div class="sidenav">
				<li><p><b>Brett</b></p></li>
				<li><p><font size="-10"> </font></p></li>
				<li><a href="/">Home</a></li>
  				<li><a href="/research">Research</a></li>
  				<li><a href="/papers">Papers</a></li>
  				<li><a href="/code">Code</a></li>
			</div>
			
			<!--<nav>
	    		<ul>
				<center><li><font size="6"><a href="/">Home</a></font></li>
				<li><font size="6"><a href="/research">Research</a></font></li>
				<li><font size="6"><a href="/papers">Papers</a></font></li>
	        		<li><font size="6"><a href="/code">Code</a></font></li></center>
	    		</ul>
			</nav>-->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<!--<footer>
	    		<ul>
	        		<li><font size="5"><a href="mailto:brettmckim@gmail.com">email</a></font></li>
				<li><font size="5"><a href="https://github.com/mckimb">github.com/mckimb</a></font></li>
				</ul>
			</footer>-->
			<div id="left"></div>
			<div id="right"></div>
			<div id="top"></div>
			<div id="bottom"></div>
			</div>
		</body>
	</html>
